<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Películas app</h1>
    <p class="lead">Esta es un API para consumir recursos de una página web que nos brinda información de películas</p>
  </div>
</div>
<div class="container">
  <app-galery [peliculas]="inTheatre" titulo="Películas en cartelera" title="Películas en cartelera">

  </app-galery>
  <app-galery [peliculas]="pupularMovies" titulo="Películas populares" title="Películas populares">

  </app-galery>
  <app-galery [peliculas]="pupularKidsMovies" titulo="Películas para niños" title="Películas para niños">
      
  </app-galery>
</div>